.flexContainer {
    gap: 9px;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.teamContainer {
    background-color: #32345E;
    border-radius: 18px;
    border: 2px solid #32345E;
    display: flex;
    align-items: center;
    padding: 10px;

    &.userTeam {
        border: 2px solid var(--ion-color-text01);
    }

    &:last-of-type {
        margin-bottom: 20px;
    }

    div p:first-child {
        font-size: 18px;
        margin: 0;
        font-family: Poppins;
        font-weight: 900;
        margin-bottom: 5px;
    }

    /*div p:last-child {*/
    /*    color: #6B86CE;*/
    /*    font-family: Poppins;*/
    /*    font-weight: 500;*/
    /*    margin: 0;*/
    /*}*/

    p.punkte {
        font-size: 14px;
        color: #6B86CE;
        font-family: Poppins;
        font-weight: 500;
        margin: 0;
    }

    .imageContainer {
        padding-right: 30px;

        .iconTeam {
            width: 46px;
            object-fit: contain;
            position: relative;
            z-index: 1;
            left: 0;
            top: -1px;
        }

        &:after {
            content: "";
            position: absolute;
            left: 0;
            transform: translate(48%, -1px);
            z-index: 0;
            border-radius: 100px;
            height: 55px;
            width: 55px;
            background-color: var(--ion-color-bg01);
        }
    }

    .skeletonContainer {
        padding-right: 20px;
    }


}