name: CI/CD for Ionic Project

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm install

#      - name: Install Ionic
#        run: npm install -g @ionic/cli

      - name: Lint code
        run: npm run lint

#      - name: Build the app with Ionic
#        run: npm run ionic_build

      - name: Build the app
        run: npm run build
